
{#**************************************************************************************************************************************#}
{#**************************************************************************************************************************************#}

{% block title %} {% endblock %}

{% block body %}

{#**************************************************************************************************************************************#}

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  {{ encore_entry_link_tags('login') }}

{#**************************************************************************************************************************************#}
{# connexion form #}
{#**************************************************************************************************************************************#}

  <div class="wrapper fadeInDown">

    <div id="formContent">
          
      <form action="{{ path('connect') }}" method="post"><p>

        <div class="form-group">
            <label></label><p><p>  
            <input type="text"  required name="_username" class-name="form-control" placeholder="Identifiant">
        </div>

        <div class="form-group">
            <input type="password"  required name="_password" class-name="form-control" placeholder="Mot de passe">
        </div>

        <div class="form-group">
            <button tpe="submit" class="btn btn-sucess">Connexion</button>
        </div>

      </form>

    <div id="formFooter">
         <a  href="{{ path('registration') }}" >Vous n'avez pas encore un compte? Inscrivez vous...</a>
    </div>

  </div>
  <hr>

{#**************************************************************************************************************************************#}

  <div class="container"><hr>

    <a href="https://liris.cnrs.fr/" 
        target=_blank align="center" title="LIRIS">
        <img src="https://liris.cnrs.fr/sites/default/files/logo_liris_160_0.png"/>
    </a>

    <a href="http://www.irit.fr" 
        target=_blank align="center" title="IRIT">
        <img src="http://www.irit.fr/IMG/siteon0.jpg?1530796181"/>
    </a>

    <a href="https://projet.liris.cnrs.fr/asker/index.html"
      target=_blank align="center" title="ASKER">
      <img src="https://projet.liris.cnrs.fr/asker/images/logo.png">
    </a>

    <a href="http://www.educlever.com" 
      target=_blank align="center" title="EDUCLEVER">
      <img src="https://static.wixstatic.com/media/a44817_da0d58efe4364e529199b110aa57a5f2~mv2.png/v1/fill/w_177,h_20,al_c,q_80,usm_0.66_1.00_0.01/a44817_da0d58efe4364e529199b110aa57a5f2~mv2.webp">
    </a>

    <a href="http://www.praxiling.fr/" 
      target=_blank align="center" title="Praxiling">
      <img src="http://comper.fr/sites/default/files/inline-images/logo-praxiling.png">
    </a>

 <a href="http://www.agence-nationale-recherche.fr/" 
      target=_blank align="center" title="Agence Nationale de la recherche">
      <img src="http://comper.fr/sites/default/files/inline-images/label-ANR-bleu-CMJN.png">
    </a>


  </div>


{#**************************************************************************************************************************************#}
{#**************************************************************************************************************************************#}

{% endblock %}