<!DOCTYPE html>
<html lang="en">
<head>
  <title>Erreur de connexion</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<class="container">
    <div class="col-lg-1 col-offset-6 centered">
        <div class="alert alert-warning" >Service d'authentification</div>
    </div>


<div class="container" style="  margin: 0 auto;
     width: 400px; ">
 

  <div class="alert alert-warning" >
    <strong>Erreur!</strong> vous n'avez pas encore le droit d'accéder. Merci d'attendre la confirmation de l'administrateur
  </div>
 
</div>

</body>
</html>
