{#**************************************************************************************************************************************#}
{% extends 'base.html.twig' %}
{#**************************************************************************************************************************************#}

{% block title %} {% endblock %}

{% block body %}

{#**************************************************************************************************************************************#}
{# Collect  traces #}
{#**************************************************************************************************************************************#}

<form>

        <div class="card card-body">
                <h5>Parametres du calcul</h5>
                <h6>{{ choice }}<h6>
                <h6>{{ file }}<h6>
        </div>

{#**************************************************************************************************************************************#}
{# Comming soon#}
{#**************************************************************************************************************************************#}

 

{#**************************************************************************************************************************************#}
{#**************************************************************************************************************************************#}

{% endblock %}
